#OnePlayersNeeded{
    text-align: center;
    font-size: 24px;
}

#TwoPlayersNeeded{
    text-align: center;
    font-size: 24px;
}

#OverallSetup{
    text-align: center;
}

#fileInput{
    font-size: 24px;
    margin-left: 20px;
}

#battleBtn{
    margin-right: 10px;
}

h4{
    font-size: 36px;
    margin-bottom: 10px;
}