// #table-set{
//     width:100%;
//     display: table-row;
// }

h5{
    font-size: 36px;
    margin-bottom: 5px;
}

.p-dropdown{
    width:20rem;
}

#monstershowing{
    float:left;
    margin-left: 20%;
    margin-right: 10%;
    display: table-cell;
}

#optionChoices{
    margin-left: 20%;
    display: table-cell;
}